<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>

    <%- include('./partials/style') %>
    
    <main>
        <%- include('./partials/main') %>
    </main>
</body>
</html>