<style>
    * {
        font-family: sans-serif;
        margin: 0px auto;
        text-align: center;
    }
    body {
        background-color: rgb(215, 228, 245);
    }
    .prodsLink {
        color: rgba(34, 34, 34, 0.879);
        font-size: 1.3rem;
        margin-bottom: 30px;
    }
    h2 {
        margin: 30px auto;
        color: rgba(34, 34, 34, 0.879);
    }
    table {
        padding: 20px;
        min-width: 700px;
        table-layout: fixed;
        border-collapse: collapse;
        margin-bottom: 30px;
    }
    thead {
        color: whitesmoke;
        background-color: rgba(45, 87, 153, 0.921);
    }
    th {
        padding: 8px;
    }
    td {
        color: rgb(57, 57, 57);
    }
    tbody tr:nth-child(odd) {
        background-color: rgba(119, 165, 240, 0.921);
    }
    tbody tr:nth-child(even) {
        background-color: rgba(87, 143, 232, 0.921);
    }
    .thumbnail {
        padding: 8px;
    }
</style>

<section>

    <h2>Listado de productos</h2>

    {{#if productsQty}}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                {{#each allProducts}}
                    <tr>
                        <td>{{this.product}}</td>
                        <td>$ {{this.price}}</td>
                        <td><img class='thumbnail' src={{this.thumbnail}} alt='imagen producto' width="60px"></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p class='prodsLink'>No se encontraron productos</p>
    {{/if}}
    <a class='prodsLink' href="/">Cargar productos</a>

</section>