body {
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 228, 245);
}

h2 {
    margin: 30px auto;
    color: rgba(34, 34, 34, 0.879);
}

#productsForm {
    background-color: rgba(45, 87, 153, 0.921);
    width: 630px;
    padding: 35px;
    border-radius: 5px;
    margin: 0px auto;
}

.product,
.price,
.thumbnail {
    padding: 5px;
    width: 300px;
    border: none;
    margin: 20px;
    font-size: 1rem;
}

.price {
    width: 80px;
}

.thumbnail{
    width: 415px;
}

label {
    margin: 15px 0px;
    background-color: transparent;
    font-weight: bold;
    color: whitesmoke
}

.sendBtn {
    margin: 20px auto;
    margin-bottom: 10px;
    padding: 8px;
    width: 150px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(184, 184, 184);
    transition: all .2s;
    font-weight: bold;
    color: rgba(34, 34, 34, 0.879);
}

.sendBtn:hover {
    box-shadow: 0px 0px 5px whitesmoke;
}

.prodsLink {
    color: rgba(34, 34, 34, 0.879);
    margin: 40px auto;
    font-size: 1.3rem;
    text-align: center;
}

/* /////////////////////////// */

.prodsLink {
    color: rgba(34, 34, 34, 0.879);
    font-size: 1.3rem;
    margin-bottom: 30px;
}

table {
    padding: 20px;
    min-width: 700px;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0px auto;
}

thead {
    color: whitesmoke;
    background-color: rgba(45, 87, 153, 0.921);
}

th {
    padding: 8px;
}

td {
    color: rgb(57, 57, 57);
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: rgba(119, 165, 240, 0.921);
}

tbody tr:nth-child(even) {
    background-color: rgba(87, 143, 232, 0.921);
}

.thumbnailImg {
    padding: 8px;
}

.userInfo {
    text-align: center;
}

.msgAuthor {
    display: inline-block;
    width: 200px;
    text-align: right;
}

.msgBtn {
    border: none;
    background-color: gray;
    padding: 5px;
    width: 70px;
    color: antiquewhite;
    font-size: 1rem;
}

.userEmailLbl {
    color: rgba(34, 34, 34, 0.879);
}

#userEmail {
    width: 320px;
}

#messagesForm {
    margin: 25px auto;
    text-align: center;
}

#messageContent,
#userEmail {
    padding: 5px;
    width: 300px;
    border: none;
    margin: 20px;
    font-size: 1rem;
}